.bannerImage {
  height: 470px;
  overflow: hidden;
  position: relative;
}

.bannerImageBgr {
  height: 470px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.vfx {}

.code {
  background-position-x: -340px !important;
}

@media screen and (min-width: 1020px) {
  .vfx {}

  .code {
    background-position-x: 0px !important;
  }
}


@media screen and (min-width: 490px) {
  .vfx {}

  .code {
    background-position-x: 0px !important;
  }
}