.bannerImage {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.bannerImageBgr {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.vfx {
  height: 100%;
}

@media screen and (min-width: 1020px) {
  .vfx {
    background-position-y: -560px !important;
  }
}
